@page
@model MascotaFeliz.App.Frontend.Pages.DetallesDuenosModel
@{
}

<H1>Detalles del Dueño</H1>

<div>
    <p>Id: @Model.dueno.Id</p>
</div>
<div>
   <p> Nombre: @Model.dueno.Nombres</p>
</div>
<div>
   </p> Apellido: @Model.dueno.Apellidos </p>
</div>
<div>
   <p> Direccion: @Model.dueno.Direccion </p>
</div>
<div>
   <p> Telefono: @Model.dueno.Telefono </p>
</div>
<div>
   <p> Correo: @Model.dueno.Correo </p>
</div>
<a asp-page="ListaDuenos" class="btn-default">Lista de Mascotas</a>