@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}
<style>
    table{
    align-items: center;
    width: 80%;
    margin: 10px 20px 10px 0px;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(97, 97, 97);    
}
th, td{
    padding: 15px;
}
thead{
    background-color: #533483;
    border-bottom: solid 2px #16213E;
    color: white;
}

tr:nth-child(even){
    background-color: #0F3460;
}
tr:hover{
    background-color: #16213E;
    color: white;
}
</style>
<h1 style="color: white;">Listado de propietarios de mascotas</h1>
<table class="table">
    <thead>
            <tr>
                <th scope="col" style="color: white;">Nombres</th>
                <th scope="col" style="color: white;">Apellidos</th>
                <th scope="col" style="color: white;">Correo</th>             
                <th scope="col" style="color: white;"></th> 
                <th scope="col" style="color: white;"></th> 
            </tr>
        </thead>
    @foreach (var dueno in Model.listaDuenos)
   { <tr>

        <td style="color: white;">@dueno.Nombres</td>
        <td style="color: white;">@dueno.Apellidos</td>
        <td style="color: white;">@dueno.Correo</td>
           <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                    Detalle Dueno
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                    Editar Dueno
                </a>
            </td>
    </tr>

   }
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarDuenos" class="btn-default">Adicionar Dueño</a>