@page
@model MascotaFeliz.App.Frontend.Pages.ListaVisitasPyPModel
@{
}
<style>
    table{
    align-items: center;
    width: 80%;
    margin: 10px 20px 10px 0px;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(97, 97, 97);    
}
th, td{
    padding: 15px;
}
thead{
    background-color: #533483;
    border-bottom: solid 2px #16213E;
    color: white;
}

tr:nth-child(even){
    background-color: #0F3460;
}
tr:hover{
    background-color: #16213E;
    color: white;
}
</style>
<h1 style="color: white;">Listado de propietarios de mascotas</h1>
<table class="table">
    <thead>
            <tr>
                <th scope="col" style="color: white;">FechaVisita</th>
                <th scope="col" style="color: white;">Temperatura</th>
                <th scope="col" style="color: white;">Peso</th> 
                <th scope="col" style="color: white;">FrecuenciaRespiratoria</th> 
                <th scope="col" style="color: white;">FrecuenciaCardiaca</th> 
                <th scope="col" style="color: white;">EstadoAnimo</th> 
                <th scope="col" style="color: white;">Recomendaciones</th>             
                <th scope="col" style="color: white;"></th> 
                <th scope="col" style="color: white;"></th> 
            </tr>
        </thead>
    <tr >FechaVisita</tr>
    <tr>Temperatura</tr>
    <tr>Peso</tr>
    <tr>FrecuenciaRespiratoria</tr>
    <tr>FrecuenciaCardiaca</tr>
    <tr>EstadoAnimo</tr>
    <tr>Recomendaciones</tr>

    @foreach (var visitaPyP in Model.listaVisitaPyP)
    { 
        <tr>
            <td style="color: white;">@visitaPyP.FechaVisita</td>
            <td style="color: white;">@visitaPyP.Temperatura</td>
            <td style="color: white;">@visitaPyP.Peso </td>
            <td style="color: white;">@visitaPyP.FrecuenciaRespiratoria</td>
            <td style="color: white;">@visitaPyP.FrecuenciaCardiaca </td>
            <td style="color: white;">@visitaPyP.EstadoAnimo </td>
            <td style="color: white;">@visitaPyP.Recomendaciones</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesVisitaPyP" asp-route-duenoId="@visitaPyP.Id">
                    Detalle Visita
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarVisitaPyP" asp-route-duenoId="@visitaPyP.Id">
                    Editar Visita
                </a>
            </td>
        </tr>

    }
</table>
<a class="btn btn-primary table-btn" asp-page="./EditarVisitaPyP" class="btn-default">Adicionar VisitaPyP</a>
