@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}
<style>
    p{
        color:white;
    }
    h1{
        color:white;
    }
</style>
<H1>Detalles de Mascota</H1>

<div>
   <p> Id: @Model.mascota.Id </p>
</div>
<div>
   <p> Nombre: @Model.mascota.Nombre </p>
</div>
<div>
    <p> Apellido: @Model.mascota.Color </p>
</div>
<div>
    <p> Direccion: @Model.mascota.Especie </p>
</div>
<div>
    <p> Telefono: @Model.mascota.Raza </p>
</div>

<a asp-page="./ListaMascotas" class="btn-default">Lista de Mascotas</a>
