@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<style>
    table{
    align-items: center;
    width: 80%;
    margin: 10px 20px 10px 10px;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(97, 97, 97);    
}
th, td{
    padding: 15px;
}
thead{
    background-color: #024959;
    border-bottom: solid 2px #888888;
    color: white;
}

tr:nth-child(even){
    background-color: #026773;
}
tr:hover{
    background-color: #012E40;
    color: white;
}
</style>
<h1 style="color: white;">Listado Mascotas</h1>
<table class="table">


    <tr>Nombre</tr>
    <tr>Color</tr>
    <tr>Especie</tr>
    <tr>Raza</tr>
 
    @foreach (var mascota in Model.listaMascotas)
   { <tr>

        <td>@mascota.Nombre</td>
        <td>@mascota.Color</td>
        <td>@mascota.Especie</td>
        <td>@mascota.Raza</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                    Detalle Mascota
                </a>
            </td>
 

    </tr>

   }
</table>
